{% extends "base.html" %}

{% block body %}
<h1>About</h1>
<div>
    <p>{{app_name}} is a free service to chat with anyone around the world without login or any other credentials.</p>
    <p>{{app_name}} is started so people around the world can communicate each other, it collects the name, age, gender and connects as your rules match.</p>
    <p>This is a free website, you don't have to pay for anything, and also it's safe your data is stored on your device as cookie format and used when you're request to connect with stranger.</p>
    <p>It's Anonymous service, we ask you name for easy conversation between you and stranger, use any name that you like in-order to chat.</p>
    <p>Your chat is not monitored, you're free from monitoring.</p>
    <p>This website uses cookies and other third-party ad providers in order to earn money.</p>
    <p>Make sure you read terms of use of this website before messaging.</p>
</div>
<div>
    <p>
        <strong>{{app_name}}</strong>
        <br>
        <span>Free and Anonymous.</span>
    </p>
</div>
{% endblock %}