{% extends "base.html" %}

{% block body %}
<h1>Terms</h1>
<div>
    <p>{{app_name}} is a free anonymous chat service website.</p>
    <p>You're using this website to only chat with stranger, you're not monitored that does not mean you use abusive content in the chat.</p>
    <p>you don't have to pay anything to use service, it's free but {{app_name}} use third-party ad providers and traffic tools to monitor traffic and to earn money by showing some ads.</p>
    <p>Your data is safe, it's in your device only for a session. This data is saved when you're connected and when you disconnect your data is deleted.</p>
    <p>You must be a 13 year old before using {{app_name}} service.</p>
    <p>You must respect anyone on this website and anyone's data with you chat.</p>
    <p>By using {{app_name}} service, you give us permission to use the storage, store cookie and other third party libraries.</p>
    <p>{{app_name}} work constantly on improving terms of using this website and to improve this product, by updating you will have notification at Index page.</p>

    <p><b><em>Terms @ date: 12/02/2022</em></b></p>
</div>

{% endblock %}